#form{    
    position: absolute;
    top: 50%;
    right: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    background-color:#007090;
    border-radius: 15px; 
    box-shadow: 10px 10px 5px #000000;    
}
#login{
    border-radius: 25px;
    font-size: 18px;
    background-color: #A3BAC3;
    position: relative;
    top: 30%;
    left:35%;
}
#login:hover{
    background-color: #007090;
    color: white;
}
#input1{
    position: relative;
    top: 10%;
    left:7%;
}
#input2{
    position: relative;
    top: 5%;
    left:7%;
}
